<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
  <title>Player Passing Charts</title>
  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
</head>
<script>
  function changeHome(selObject){
    window.location.href = "/?home=" + selObject.value
  }

  function setTeams(){
    var a  = document.getElementById("awaySelect").value
    window.location.href = "/?home=" + "{{ team1 }}" + "&away=" + a
  }

  function changeSelect(object){
    window.location.href = "/?home=" + "{{ team1 }}" + "&away=" + "{{ team2 }}" + "&select=" + object.value
  }
</script>
<body>
   <label for="homeSelect">Select a Team:</label>
    <select id="homeSelect" onchange="changeHome(this)">
      
      <option value=""> {{ team1 }}</option>
      {% if teams %}
      {% for team in teams %}
        <option value = "{{ team }}">{{ team }}</option>
      {% endfor %}
      {% endif %}    
    </select>

    <label for="awaySelect">Select Opponent:</label>
    <select id="awaySelect" onchange="setTeams()">
      
      <option value="">{{ team2 }} </option>
      {% if opponents %}
      {% for team in opponents %}
        <option value = "{{ team }}">{{ team }}</option>
      {% endfor %}
      {% endif %}    
    </select>


      <button type="button" onclick="changeSelect(this)" value = "{{ selectedTeam }}">View Opponent</button>

    <h2 style = "text-align: center">{{ team1 }} vs {{ team2 }}</h2>
    <img src="data:image/png;base64, {{ plot_url }}" alt="Player Passes" width="900" height="700" class="center">
</body>


</html>